.header {
  grid-area: h;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  max-height: 200px;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  flex-grow: 3;
  margin: 0;
  padding: 0;
}

.link {
  margin-right: 30px;
}
